<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
  <title>home</title>
  <desc>create by lorre.</desc>
  <g id="dtico" stroke-width="3" fill="none" fill-rule="evenodd">
    <rect x="17.5" y="17.5" width="65" height="65" />
    <path d="M33,67 L33,39 C33,30 39,24 48,24 L52,24 C60,24 67.5,30 67.5,39 L67.5,61" />
    <path class="a" d="M73,81 C73,74 70,68 65,64 M58,60 C55,59 53,59 50,59 C38,59 28,68 27,81" />
    <path d="M51,25.5 C55,28 58,33 58,39 C58,54 58,54 58,64 C61,64 64,64 67.5,64 L67.5,39 C67.5,31 61,25.5 54,25.5 L51,25.5 Z" />
    <path d="M34,38 C34,46 40,52.5 48.5,52.5" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M35,38.5 L56.5,38.5"/>
  </g>
</svg>