<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
  <title>category</title>
  <desc>create by lorre.</desc>
  <g stroke="#8A8A8A" stroke-width="3" fill="none" fill-rule="evenodd">
    <path
      d="M50,24 L79,24 C81,24 84,26 84,29 L84,78 C84,80 81,83 79,83 L21,83 C18,83 16,80 16,78 L16,29 C16,26 18,24 21,24 L21,24 L23,24" />
    <path d="M29,16 L50,24 L50,83 L26,73 C24,72 23,71 23,69 L23,20 C23,18 25,15 26,16 C24,16 25,15 29,16 Z"
      stroke-linejoin="round" />
    <path class="a" d="M75,36 L60,36"/>
    <path class="a" d="M75,44 L63,44"/>
    <path class="a" d="M75,52 L58,52" />
    <path class="a" d="M75,60 L66,60" />
  </g>
</svg>