<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
  <title>home</title>
  <desc>create by lorre.</desc>
  <g stroke-width="3" fill="none" fill-rule="evenodd">
    <polyline stroke-linecap="round" stroke-linejoin="round" points="17 51 50 21 82 51" />
    <polyline stroke-linecap="round" stroke-linejoin="round" points="27 51 27 79 43 79 43 60 50 60" />
    <polyline stroke-linecap="round" stroke-linejoin="round"
      transform="translate(61, 65) scale(-1, 1) translate(-61, -65) " points="50 51 50 79 66 79 66 60 73 60" />
    <path d="M45,60 L55,60" stroke-linecap="square" />
    <polyline points="59 24 73 24 73 37" />
    <path class="a" d="M41,40 L59,40" />
    <path class="a" d="M34,49 L65,49" />
  </g>
</svg>