<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
  <title>link</title>
  <desc>create by lorre.</desc>
  <g stroke-width="3" fill="none" fill-rule="evenodd">
    <circle cx="50.5" cy="49.5" r="28.5" />
    <g class="c" transform="translate(52, 47)" stroke-width="2" stroke-linecap="round">
      <path d="M1,5 L13,5" />
      <path d="M5,5 L5,13" />
      <path d="M9,5 L9,13" />
      <circle cx="7" cy="2" r="2" />
      <rect x="6" y="5.5" width="3" height="4" />
    </g>
    <path
      d="M41,76 C41,75 41,74 42,73 C43,70 48,70 53,72 C55,73 57,75 58,76 C56,77 53,78 50.5,78 C47,78 44,77 41,76 Z" />
    <path d="M67,26 C73,31 77,38 78,45 C72,45 67,39 67,32 C67,30 67,28 68,27 Z" />
    <ellipse transform="translate(38, 44) rotate(30) translate(-38, -44) " cx="38.5" cy="44" rx="6.5" ry="8" />
    <path class="b" d="M23,45 C15,47 10,50 10,53 C10,59 28,63 50,63 L50,63 C72,63 90,59 90,53 C90,50 86,48 79,46"
      transform="translate(50, 54) rotate(-13) translate(-50, -54) " />
  </g>
</svg>