<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
  <title>search</title>
  <desc>create by lorre.</desc>
  <g stroke="#8A8A8A" stroke-width="3" fill="none" fill-rule="evenodd">
    <path d="M53,63 L53,63 L53,63 L79,63 C82,63 85,65 85,69 C85,72 82,75 79,75 L53,75 L53,75"
      transform="translate(69, 69) rotate(45) translate(-69, -69) " />
    <path class="a" d="M51,56 C56,53 60,47 60,41.5 C60,35 57,30 53,27" stroke-linecap="round" />
    <circle cx="41.5" cy="41.5" r="24" />
  </g>
</svg>