<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
  <title>tag</title>
  <desc>create by lorre.</desc>
  <g stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="round">
    <path d="M44,40 C41,35 37,31 33.5,31 C24,31 17,48 17,60 C17,69 21,77 33.5,77 L33.5,77 C41,77 46,73 48,68" />
    <path d="M63,73 C77,73 83,64 83,54 C83,38 73,17 63,17 C52,17 43,38 43,54 C43,64 48,73 63,73 Z" />
    <path class="a" d="M62,58 L51,52" />
    <path class="a" d="M63,49 L68,44" />
    <path class="a" d="M33,57 L37,52" />
    <path class="a" d="M32,66 L23,58" />
    <path d="M63,82 L63,37" />
    <path d="M33,82 L33,46" />
  </g>
</svg>