@keyframes show {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.an{
  opacity: 0;
  position: relative;
  top: 6px;
  animation: show .5s ease-out forwards;
}

for num in 1..8
  .dl-{num}
    animation-delay ((num*2)/10)s