*{
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
html{
  min-width: 250px;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--tx-pr);
  line-height: 2em;
  font-family: "宋体", serif;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: .2px;
}

::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-track{
background-color: var(--bg);
}
::-webkit-scrollbar-thumb{
  border-radius: 2px;
background-color: var(--tx-se);
}

@media screen and (max-width:680px) {
  html{
    font-size: 16px;
  }
}
svg{
  width: 1em;
}
body{
  margin: 0;
}
img{
  width: 100%;
  min-height: 150px;
}
a{
  color: var(--tx-pr);
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin-top: .8em;
  margin-bottom: .2em;
}
h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.4em;
}
h3{
  font-size: 1.4em;
}
h4,h5,h6{
  font-size: 1.2em;
}
p{
  line-height: 2em;
}
ul,ol{
  margin: 1em 0;
  padding-left: 1.5em;
}
blockquote{
  margin: 1em 0;
  padding: .5em 1em ;
  background: var(--bg-se);
  border-radius: 2px;
}
time{
  color: var(--tx-se);
}
hr{
  border: .5px solid var(--tx-se);
  margin: 30px 0;
}
input[type=text],textarea{
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  color: var(--tx-pr);
  outline: none;
}
.wrap{
  min-width: 270px;
  max-width: 600px;
  margin-inline: auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.tx-r{
  text-align: right;
}
.banner{
  margin: 0 -10px;
}
.list{
  margin: 0;
  padding: 5px 0;
  li{
    display: inline-block;
    cursor: grab;
  }
}
.list.item li::after{
  content: "/";
  padding: 0 10px;
  font-size: 13px;
  vertical-align: bottom;
}
#pj-pro{
  width: 0%;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-se);
  z-index: 9999;
  transition: width .1s;
}