pre{
  overflow: auto;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 8px;
  background-color: var(--bg-se);
  font-size: 14px;
}
.hljs{
  &-comment{
    color: var(--hl-com);
  }
  &-built_in{
    color: var(--hl-bui);
  }
  &-keyword{
    color: var(--hl-key);
  }
  &-string{
    color: var(--hl-str);
  }
  &-params{
    color: var(--hl-par);
  }
  &-title{
    color: var(--hl-tit);
  }
  &-variable{
    color: var(--hl-var);
  }
}