<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%- partial('_global/head') %>
</head>
<body>
<div id="Henmin">
	<main id="contain" class="wrap">
		<%- partial('_global/header') %>
		<%- body%>
		<%- partial('_global/footer') %>
	</main>
</div>
</body>
</html>