<% const data=page.site.data.link %>
<h5 class="an">「 关于我  」</h5>
<div class="an">
<p>我来自羊城广州，你可以称呼我为咩阿或者Lorre。为什么是Lorre呢，仅仅是因为跟我原名的粤语发音很像，入职后就一路用下来了啊哈哈哈哈，简单又好记。</p>
<p><b>我喜欢</b><br>编程、游戏、看书、跑步，都是我的心头好。我尤其喜欢的游戏是《去月球》和《寻找天堂》，网站的背景音乐也引用了这两部作品的主题曲。</p>
<p><b>头像</b><br><a href="/img/avantar.png"><img class="av" src="/img/avantar.png" alt="lorre"></a>来自于一部我很喜欢的古早动画《听见涛声》，讲述的是一个再简单不过的故事了，但给我的感受却极深。</p>

<p><b>藏身处</b><br>
<ul>
<li>邮箱 ： <a href="mailto:lorre0322@foxmail.com">lorre0322@foxmail.com</a></li>
<li>网易云 ： <a href="https://music.163.com/#/artist?id=49898034">无心目睹案发现场的热心市民</a></li>
<li>bilibili ： <a href="https://space.bilibili.com/650313886">Lorre0322</a></li>
</ul>
</p>
</div>

<% for(item in data){ %>
<h5 class="an">「 <%=item %>  」</h5>
  <ul class="list item an">
  <% for(name in data[item]){ %>
    <li><a href='<%=data[item][name] %>' target="_blank"><%=name %></a></li>
  <% } %>
  </ul>
  <% } %>
<hr>
<div class="an dl-1"><%-page.content %></div>