<h3 class="an">「 瞬间  」</h3>
<details class="an dl-1">
  <summary>存在的意义</summary>
<div><p>自毕业后我就逐渐关闭了我的<del>朋友圈</del>，以及一众平台。我不想自己的行为被监控，思想被约束。但我又迫切需要一个说话的地方，于是有了这个板块。</p><p>这是一个记录我当下想法的地方，它可能是一个情感树洞，可能是技术分享，也有可能是一些生活吐槽。<br>颇为简陋，但对我来讲意义重大。</p>
<p><code>使用fastify + mongodb + svelte。</code></p>
</div>
</details>
<div id="moment"></div>
<script>Moment.init({el:"moment"})</script>