@import "./styl/theme.styl";
@import "styl/theme.styl";
@import "styl/global.styl";
@import "styl/meta.styl";
@import "styl/post.styl";
@import "styl/paginator.styl";
@import "styl/footer.styl";
@import "styl/search.styl";

#contain{
  margin-top: 70px;
  margin-bottom: 50px;
  min-height: 400px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  z-index: 10;
  .menu{
    font-size: 0;
    line-height: none;
  }
  .menu svg{
    width: 38px;
    vertical-align:bottom;
  }
}