@import "styl/theme.styl";
@import "styl/animate.styl";
@import "styl/global.styl";
@import "styl/toc.styl";
@import "styl/meta.styl";
@import "styl/post.styl";
@import "styl/hljs.styl";
@import "styl/moment.styl";
@import "styl/paginator.styl";
@import "styl/footer.styl";
@import "styl/search.styl";

#contain{
  margin-top: 100px;
  margin-bottom: 50px;
  min-height: 400px;
}
header {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  z-index: 20;
  .menu{
    vertical-align: middle;
    display: flex;
    padding: 5px 0;
    justify-content:flex-end;
    .menu-item{
      padding: 2px 0;
      display: inline-block;
    }
    
  }
  .menu svg{
    width: 2.2em;
    vertical-align: bottom;
  }
  .menu svg g{
    transition: stroke .2s;
  }
  .menu a.active svg g,
  .menu a:hover svg g{
    stroke:var(--tx-lin);
  }
}
#load{
  opacity: 0;
  order: 1;
  margin-left: auto;
  transition: opacity .2s;
  svg{
    margin-top: 7px;
  }
}
#load.show{
  opacity: 1;
}
@media screen and (max-width:680px) {
  header .menu #load{
    margin-left: 0;
    margin-right: auto;
    order: 0;
  }
}