@import "./styl/theme.styl";
@import "styl/global.styl";

body{
  margin: 0;
}
.wrap{
  max-width: 680px;
  margin-inline: auto;
}
#contain{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}
a{
  text-decoration: none;
}
header{
  width: 100%;
  position: fixed;
  // bottom: 0;
  top: 0;
  background-color: var(--bg-cl);
  .menu{
    font-size: 0;
  }
  svg{
    width: 40px;
  }
}