@import "./styl/theme.styl";
@import "styl/global.styl";
@import "styl/post.styl";
@import "styl/paginator.styl";
@import "styl/search.styl";

#contain{
  margin-top: 50px;
  min-height: 500px;
  padding: 10px;
  overflow: hidden;
}
.banner{
  margin: 0 -10px;
}
header{
  width: 100%;
  position: fixed;
  padding: 5px 2px;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-cl);
  z-index: 10;
  .hd-menu{
    line-height:0;
  }
  svg{
    width: 38px;
  }
}
footer{
  padding: 10px;
}