.p-meta{
  font-size: 15px;
}
.p-au::before{
  content: "/";
  padding: 0 10px;
}
.p-au::after{
  content: "/";
  padding: 0 10px;
}

.p-meta .ca-list{
  display: inline-block;
  .ca-list-item{
    padding: 0;
  }
}