<footer class="wrap">
	<ul class="list item">
		<audio id="bg-au" class="play" src="/"  preload="autoplay" loop="loop" ></audio>
		<li>悬铃木 🌿</li>
		<li id="sw-au">播放</li>
		<li>
			<a title="RSS订阅" href="/atom.xml" target="_blank" >订阅</a>
		</li>
		<li id="">
			<a title="小火车呼噜噜" href="https://travellings.link " target="_blank" rel="noopener noreferrer">开往</a>
		</li>
		<li id="sw-th">开灯</li>
	</ul>
</footer>
