<header class="wrap">
  <nav class="hd-menu">
	<% for(item in theme.Header){ %>
    <% if(theme.Header[item]){ %>
      <a href='<%=theme.Header[item]%>'>
      <%- partial('svg/'+item) %>
      </a>
    <% } %>
	<% } %>
</nav>
</header>