<header class="wrap">
  <ul class="list menu">
	<% for(item in theme.Header){ %>
    <% if(theme.Header[item]){ %>
      <a class="menu-item" href='<%=theme.Header[item]%>'>
        <li>
      <%- partial('svg/'+item) %>
        </li>
      </a>
    <% } %>
	<% } %>
  <% if(theme.search.enable){ %>
    <li id="search" class="menu-item">
      <%- partial('_global/svg/search') %>
    </li>
  <% } %>
  </ul>
</header>