<div id="shade" class="wrap">
  <h4>「 搜索 」</h4>
  <p>你能够搜寻我的一切，除了灵魂。</p>
  <input id="s-txt" type="text" placeholder=" ʕ·ᴥ·ʔ  use Alt + J / K up and dowm">
  <div id="s-wrap">
    <%- js({ src: 'js/search.js',  path: url_for(theme.search.path), defer: true }) %>
  </div>
</div>