<div id="shade" class="wrap">
  <h4>「 搜索 」</h4>
  <p>你能够搜寻我的一切，除了灵魂。</p>
  <input id="s-txt" type="text" placeholder=" ʕ·ᴥ·ʔ  use Ctrl + / key">
  <div class="s-wrap">
    <div id="s-his"></div>
    <div id="s-res"></div>
    <%- js({ src: 'js/search.js',  path: url_for(theme.search.path), defer: true }) %>
  </div>
</div>